.boton {
  width: 100px !important; }
  .boton--enviar {
    background-color: #e416e4; }
  .boton--cancelar {
    background: #d8d6d6; }

.contacto {
  width: 50% !important; }

@media screen and (max-width: 800px) {
  .contacto {
    width: 75% !important; } }

@media screen and (max-width: 800px) and (max-width: 800px) {
  .contacto {
    width: 90% !important; } }

.contenedor-productos .producto .p1 {
  grid-area: p1; }

.contenedor-productos .producto .p2 {
  grid-area: p2; }

.contenedor-productos .producto .p3 {
  grid-area: p3; }

.contenedor-productos .producto .p4 {
  grid-area: p4; }

.contenedor-productos .producto .p5 {
  grid-area: p5; }

.contenedor-productos .producto .p6 {
  grid-area: p6; }

.contenedor-productos .producto .p7 {
  grid-area: p7; }

.contenedor-productos .producto .p8 {
  grid-area: p8; }

.ancho14 {
  width: 14rem; }

.ancho16 {
  width: 16rem; }

.nosotros_imagen img {
  width: 95%;
  max-width: 35rem;
  height: auto;
  justify-content: center; }

@media screen and (max-width: 800px) {
  .contenedor-productos {
    margin: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "p1 p2 p3" "p4 p5 p6" "p7 p8 p8"; }
  .producto {
    width: 14rem;
    background-color: rgba(0, 0, 0, 0.822); }
  img {
    width: 14rem;
    height: auto; }
  .texto {
    font-size: 16px; } }

@media screen and (max-width: 800px) and (max-width: 500px) {
  .contenedor-productos {
    margin: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6" "p7" "p8"; }
  .producto {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.822); }
  img {
    width: 100%;
    height: auto; }
  .texto {
    font-size: 18px; }
  footer ul {
    display: block;
    gap: 10px;
    align-items: center; }
  header {
    height: 32vh; } }

.facebook_contacto {
  color: #3872ee; }

.instagram_contacto {
  color: #ac1542; }
