$tablet: 800px;
$celular: 500px;
.boton{
    width: 100px!important;
    &--enviar{
        background-color: rgb(228, 22, 228);
    }
    &--cancelar{
        background: rgb(216, 214, 214);
    }
}
.contacto{
    width: 50%!important;
}
@media screen and (max-width:$tablet){
    .contacto{
        width: 75%!important;
    }
    @media screen and (max-width:$tablet){
        .contacto{
            width: 90%!important;
        }
    }
}